<div class="ct_middle_content">

    <div class="ct_bus_grey_table">
        <div class="d-flex align-items-center justify-content-between gap-3 ct_pb_20 ct_px_20 flex-wrap">
            <h4 class="ct_fs_20 ct_fw_600 mb-0">Discount Management</h4>
            <div class="d-flex gap-3 align-items-center justify-content-between">
                <input type="text" placeholder="Search..." class="form-control w-auto ct_h_40" [(ngModel)]="searchQuery"
                    (ngModelChange)="getDiscList()">
                <button
                    class="ct_blue_btn ct_outline_btn_blue py-2 h-auto ct_fs_16 ct_h_40 ct_fw_500 ct_white_nowrap w-auto ms-sm-auto"
                    data-bs-toggle="modal" data-bs-target="#ct_add_bus">
                    +
                    Add Discount</button>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Bus Name</th>
                        <th>Bus Number </th>
                        <th>Capacity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data; let i = index">
                        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                        <td>{{item.bus_name}}</td>
                        <td>{{item.bus_number_plate}}</td>
                        <td>{{item.number_of_seats}}</td>
                        <td>
                            <div class="ct_actions_btn">
                                <button class="ct_action_btn" data-bs-toggle="modal" data-bs-target="#ct_edit_modal">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.1667 5.35639L18.8537 3.66839C19.2054 3.31671 19.6823 3.11914 20.1797 3.11914C20.677 3.11914 21.154 3.31671 21.5057 3.66839C21.8574 4.02006 22.0549 4.49704 22.0549 4.99439C22.0549 5.49173 21.8574 5.96871 21.5057 6.32039L10.8867 16.9394C10.358 17.4678 9.70605 17.8561 8.98969 18.0694L6.30469 18.8694L7.10469 16.1844C7.31797 15.468 7.70632 14.8161 8.23469 14.2874L17.1667 5.35639ZM17.1667 5.35639L19.8047 7.99439M18.3047 14.8694V19.6194C18.3047 20.2161 18.0676 20.7884 17.6457 21.2104C17.2237 21.6323 16.6514 21.8694 16.0547 21.8694H5.55469C4.95795 21.8694 4.38565 21.6323 3.9637 21.2104C3.54174 20.7884 3.30469 20.2161 3.30469 19.6194V9.11939C3.30469 8.52265 3.54174 7.95035 3.9637 7.5284C4.38565 7.10644 4.95795 6.86939 5.55469 6.86939H10.3047"
                                            stroke="black" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                                <button class="ct_action_btn" data-bs-toggle="modal" data-bs-target="#ct_delete_modal">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                            stroke="#EF331E" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="data?.length == 0 || !data" class="text-center">
                <p class="ct_fs_15 mt-3">No items found</p>
            </div>
        </div>
        <!-- Pagination Controls -->
        <div class="d-flex justify-content-between align-items-center pagination-section">
            <div class="d-flex gap-2 align-items-center">
                <label for="pageSize">Items per page: </label>
                <select id="pageSize" class="form-control w-auto" [(ngModel)]="pageSize"
                    (change)="changePageSize(pageSize)">
                    <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}
                    </option>
                </select>
            </div>

            <!-- Pagination -->
            <nav aria-label="Table pagination">
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>






<!-- All Modal Section S -->

<!-- Add Modal S -->
<div class="modal fade ct_z_index_1" id="ct_add_bus" tabindex="-1" aria-labelledby="ct_edit_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_edit_modal_cnt">
                    <h4 class="ct_fs_24 ct_fw_600 text-center">Add Bus</h4>
                    <form [formGroup]="form" class="pt-2">
                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Name</label>
                            <input type="date" placeholder="Enter Bus Name" formControlName="busName"
                                class="form-control ct_input ct_fs_18">
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Number</label>
                            <input type="text" placeholder="Enter Bus Number" formControlName="number"
                                class="form-control ct_input ct_fs_18" maxlength="15">
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Total Seats</label>
                            <input type="text" placeholder="Enter Total Seats" formControlName="totalSeats"
                                class="form-control ct_input ct_fs_18">

                            <div *ngIf="form.controls['totalSeats'].invalid && form.controls['totalSeats'].touched"
                                class="err_msg">
                                <div *ngIf="form.controls['totalSeats'].errors?.['required']">This field is required
                                </div>
                                <div *ngIf="form.controls['totalSeats'].errors?.['pattern']">Please enter a valid number
                                </div>
                                <div *ngIf="form.controls['totalSeats'].errors?.['numberRange']">Number must be between
                                    1
                                    and 99</div>
                            </div>

                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Registration Number</label>
                            <input type="text" placeholder="Enter Registration Number" formControlName="regNum"
                                class="form-control ct_input ct_fs_18" maxlength="20">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_blue_btn py-2">Add Bus</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal E -->


<!-- Edit Modal S -->
<div class="modal fade " id="ct_edit_modal" tabindex="-1" aria-labelledby="ct_edit_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_edit_modal_cnt">
                    <h4 class="ct_fs_24 ct_fw_600 text-center">Edit Bus</h4>
                    <form [formGroup]="editForm" class="pt-2">
                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Name</label>
                            <input type="text" placeholder="Enter Bus Name" formControlName="busName"
                                class="form-control ct_input ct_fs_18">
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Number</label>
                            <input type="text" placeholder="Enter Bus Number" formControlName="number"
                                class="form-control ct_input ct_fs_18" maxlength="15">
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Total Seats</label>
                            <input type="text" placeholder="Enter Total Seats" formControlName="totalSeats"
                                class="form-control ct_input ct_fs_18">

                            <div *ngIf="editForm.controls['totalSeats'].invalid && editForm.controls['totalSeats'].touched"
                                class="err_msg">
                                <div *ngIf="editForm.controls['totalSeats'].errors?.['required']">This field is required
                                </div>
                                <div *ngIf="editForm.controls['totalSeats'].errors?.['pattern']">Please enter a valid
                                    number
                                </div>
                                <div *ngIf="editForm.controls['totalSeats'].errors?.['numberRange']">Number must be
                                    between 1
                                    and 99</div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Registration Number</label>
                            <input type="text" placeholder="Enter Registration Number" formControlName="regNum"
                                class="form-control ct_input ct_fs_18">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_blue_btn py-2">Save Changes</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal1
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal E -->

<!-- delete Modal S -->
<div class="modal fade" id="ct_delete_modal" tabindex="-1" aria-labelledby="ct_delete_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                stroke="#EF331E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Confirm Delete</h4>
                    <p class="mb-0 text-center ct_fs_18"> Are you sure? you want to delete it.</p>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-2 px-5" data-bs-dismiss="modal">Cancel</button>

                <button type="button" class="ct_blue_btn py-2 px-5">Confirm</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal2
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- delete Modal E -->


<!-- All Modal Section E -->

<div *ngIf="loading">
    <app-loader />
</div>