<div class="ct_custom_tab_2">
    <div class="mb-4">
        <a routerLink="/home/routes-management" class="ct_back_btn " style="width: fit-content;"><i
                class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">General Settings</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEdit == 'true'">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Ticket & Prices</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container-fluid mt-4">
                <!-- Page Header -->

                <div class="mb-4">
                    <h2 class="ct_fs_24 ct_fw_700 mb-1">Add Departure Time</h2>
                    <p class="mb-0">Use the form below to add new departure time for a specific bus line.</p>
                </div>

                <!-- Details and Schedule -->
                <div class="row">
                    <!-- Details Section -->
                    <div class="col-lg-6 mb-4 mb-lg-0">


                        <form [formGroup]="form">
                            <div class="card p-3">
                                <h5>Details</h5>
                                <p>Fill in details for this departure time.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="line" class="form-label ct_fw_500 mb-1">Line</label>
                                            @if(isEdit == 'true'){
                                            <select class="form-control ct_input ct_fs_18">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let lan of routeList" [value]="lan.route_id"
                                                    [selected]="lan.route_id == route_id" [disabled]="route_id">
                                                    {{ lan.title }}
                                                </option>
                                            </select>
                                            } @else {
                                            <select class="form-control ct_input ct_fs_18 "
                                                (change)="onLineChange($event)" formControlName="line">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let lan of routeList" [value]="lan.route_id">
                                                    {{ lan.title }}
                                                </option>
                                            </select>
                                            <div class="err_msg"
                                                *ngIf="form.controls['line']?.invalid && form.controls['line']?.touched">
                                                <div *ngIf="form.controls['line'].errors?.['required']">Line is
                                                    required.</div>
                                            </div>
                                            }


                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="busType" class="form-label ct_fw_500 mb-1">Bus Name</label>
                                            <select class="form-control ct_input ct_fs_18 " formControlName="busName">
                                                <option value="" disabled>Select</option>
                                                <option *ngFor="let lan of busList" [value]="lan.bus_id">
                                                    {{ lan.bus_name }}, {{ lan.number_of_seats }} Seats
                                                </option>
                                            </select>
                                            <div class="err_msg"
                                                *ngIf="form.controls['busName']?.invalid && form.controls['busName']?.touched">
                                                <div *ngIf="form.controls['busName'].errors?.['required']">Bus name is
                                                    required.
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- Bus Name -->


                                <!-- Driver Name -->
                                <!-- <div class="mb-3">
                                    <label for="driver" class="form-label ct_fw_500 mb-1">Driver</label>
                                    <select class="form-control ct_input ct_fs_18 " formControlName="driver">
                                        <option value="" disabled>Select</option>
                                        <option *ngFor="let lan of allDrivers" [value]="lan.driver_id">
                                            {{ lan.driver_name }}
                                        </option>
                                    </select>
                                    <div class="err_msg"
                                        *ngIf="form.controls['driver']?.invalid && form.controls['driver']?.touched">
                                        <div *ngIf="form.controls['driver'].errors?.['required']">Driver is required.
                                        </div>
                                    </div>
                                </div> -->

                                <!-- Availability Toggle -->
                                <div class="mb-3">
                                    <label class="form-label ct_fw_500 mb-1">Available</label>
                                    <div>
                                        <label class="switch ct_custom_switch1">
                                            <input type="checkbox" formControlName="status" />
                                            <span class="slider"></span>
                                            <span class="text off mt-0">SPECIFIC PERIOD</span>
                                            <span class="text on mt-0">NON STOP</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Specific Period Dates -->
                                <div *ngIf="!form.get('status')?.value" class="calendar-section">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label ct_fw_500 mb-1">From</label>
                                                <input type="date" class="form-control" formControlName="fromDate"
                                                    [min]="minDate" />
                                                <!-- <div class="err_msg"
                                                *ngIf="form.controls['fromDate']?.invalid && form.controls['fromDate']?.touched">
                                                <div *ngIf="form.controls['fromDate'].errors?.['required']">From date is
                                                    required.</div>
                                            </div> -->
                                                <div *ngIf="form.controls['fromDate'].invalid && form.controls['fromDate'].touched"
                                                    class="err_msg">
                                                    <div *ngIf="form.controls['fromDate'].errors?.['required']">
                                                        This field is required.
                                                    </div>
                                                    <div *ngIf="form.controls['fromDate'].errors?.['minDate']">
                                                        Date cannot be earlier than today.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label ct_fw_500 mb-1">To</label>
                                                <input type="date" class="form-control" formControlName="toDate"
                                                    [min]="minDate" />

                                                <div *ngIf="form.controls['toDate'].invalid && form.controls['toDate'].touched"
                                                    class="err_msg">
                                                    <div *ngIf="form.controls['toDate'].errors?.['required']">
                                                        This field is required.
                                                    </div>
                                                    <div *ngIf="form.controls['toDate'].errors?.['minDate']">
                                                        Date cannot be earlier than today.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- Recurring Days -->
                                <!-- <div class="mb-3">
                                    <label class="form-label ct_fw_500 mb-1">Recurrence</label>
                                    <div class="ct_grid_2_flex1">
                                        <div *ngFor="let day of daysOfWeek">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    [formControlName]="day" />
                                                <label class="form-check-label" for="{{day}}">{{ day | titlecase
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                                <div class="mb-3">
                                    <label class="form-label ct_fw_500 mb-1">Recurrence</label>
                                    <div class="ct_grid_2_flex1">
                                        <div *ngFor="let day of daysOfWeek">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" [formControlName]="day"
                                                    (change)="onDayChange(day, $event)" />
                                                <label class="form-check-label" for="{{ day }}">{{ day | titlecase
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Display Selected Days and Their Dates -->
                                <!-- <div *ngFor="let day of daysOfWeek">
                                    <div *ngIf="selectedDaysWithDates[day]">
                                        <strong>{{ day }} Dates:</strong>
                                        <ul>
                                            <li *ngFor="let date of selectedDaysWithDates[day]">{{ date }}</li>
                                        </ul>
                                    </div>
                                </div> -->


                                <!-- Action Buttons -->
                                <!-- [disabled]="form.invalid" -->
                                <div class="mt-3 d-flex align-items-center gap-3">
                                    <button type="submit" (click)="saveBusStops()" class="ct_blue_btn">Save</button>
                                    <button type="button" class="ct_blue_btn ct_outline_btn_blue"
                                        (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <!-- Create Schedule Section -->
                    <div class="col-lg-6 mb-4 mb-lg-0" *ngIf="selectedLineId || route_id">
                        <div class="card p-3">
                            <h5>Create Schedule</h5>
                            <p>Enter departing time, travel, and stop durations to calculate arrival times for each
                                stop.</p>

                            <div class="table-responsive mt-4">
                                <table class="table ct_booking_table12">
                                    <thead>
                                        <tr>
                                            <th>Stop</th>
                                            <th>Arrival Time</th>
                                            <th>Stop Time</th>
                                            <th>Departure Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let stop of lines; let i = index; let last = last; let first = first">
                                            <td>{{ stop.stop_city.city_name }}</td>
                                            <td style="width: 150px;">
                                                <!-- Set Arrival Time as N/A for the first index -->
                                                <ng-container *ngIf="first; else arrivalInput">N/A</ng-container>
                                                <ng-template #arrivalInput>
                                                    <!-- <input type="time" class="form-control w-auto"
                                                        [(ngModel)]="stop.arrival_time"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" />

                                                    <input type="date" class="form-control w-auto"
                                                        [(ngModel)]="stop.arrival_date"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" /> -->

                                                    <!-- <input type="date" class="form-control w-auto"
                                                        [(ngModel)]="stop.arrival_date"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" /> -->

                                                    <input type="time" class="form-control w-auto"
                                                        [(ngModel)]="stop.arrival_time"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" />


                                                </ng-template>
                                            </td>
                                            <td style="width: 122px;">
                                                <!-- Set Stop Time as N/A for the first and last indices -->
                                                <ng-container
                                                    *ngIf="first || last; else stopTimeInput">N/A</ng-container>
                                                <ng-template #stopTimeInput>
                                                    <input type="number" class="form-control" style="width: 122px;"
                                                        [min]="0" [(ngModel)]="stop.stop_time"
                                                        (ngModelChange)="updateTicketPrice(stop, i, $event)"
                                                        placeholder="minnutes" />
                                                </ng-template>
                                            </td>
                                            <!-- <td>
                                            <ng-container *ngIf="last; else departureInput">
                                                N/A
                                            </ng-container>
                                            <ng-template #departureInput>
                                                <input type="time" class="form-control" [value]="stop.departure_time"
                                                    readonly />
                                            </ng-template>
                                        </td> -->
                                            <!-- <td>
                                            <ng-container *ngIf="first; else departureInput">
                                                <input type="time" class="form-control" [(ngModel)]="stop.departure_time"
                                                    name="departureTime{{ i }}" />
                                                    <span *ngIf="last">N/A</span>
                                            </ng-container>
                                            <ng-template #departureInput>
                                                <input type="time" class="form-control" [value]="stop.departure_time"
                                                    readonly />
                                            </ng-template>
                                        </td> -->

                                            <td style="width: 122px;">
                                                @if(first){
                                                <div>
                                                    <input type="time" class="form-control" style="width: 122px;"
                                                        [(ngModel)]="stop.departure_time" name="departureTime{{ i }}"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" />

                                                    <!-- <input type="date" class="form-control" style="width: 122px;"
                                                        [(ngModel)]="stop.departure_date" name="departureTime{{ i }}"
                                                        (ngModelChange)="updateTicketPrice(stop, i, '')" /> -->

                                                    <span *ngIf="last">N/A</span>
                                                </div>
                                                } @else if (last) {
                                                <span *ngIf="last">N/A</span>
                                                } @else {
                                                <div>
                                                    <input type="time" class="form-control"
                                                        [(ngModel)]="stop.departure_time" disabled />
                                                </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>


                                </table>

                            </div>
                            <div class="mt-3 d-flex align-items-center gap-3">
                                <button (click)="saveUpdatedTicketPrices()" class="ct_blue_btn">Save</button>
                                <button (click)="cancel()" class="ct_blue_btn ct_outline_btn_blue">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-fluid mt-4">
                <app-category-management />
            </div>
        </div>
    </div>








</div>



<!-- delete Modal S -->
<div class="modal fade" id="ct_delete_modal" tabindex="-1" aria-labelledby="ct_delete_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                stroke="#EF331E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Confirm Delete</h4>
                    <p class="mb-0 text-center ct_fs_18"> Are you sure? you want to delete it.</p>


                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-3 px-5" data-bs-dismiss="modal">Cancel</button>

                <button type="button" class="ct_blue_btn py-3 px-5">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- delete Modal E -->

<div *ngIf="loading">
    <app-loader />
</div>