<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="ct_edit_profile_main">

            <div class="mt-5">

                <form [formGroup]="form">
                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Current Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}" placeholder="Current Password"
                            name="text" autocomplete="off" class="form-control ct_input ct_fs_18"
                            formControlName="current_password" maxlength="15">
                        <i class="fa-regular ct_hide_pass_wye"
                            [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility1()"></i>
                        <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                            class="err_msg">
                            <div *ngIf="form.controls['current_password'].errors?.['required']">Current password
                                is
                                required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">New Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}" placeholder="New Password"
                            name="text" autocomplete="off" class="form-control ct_input ct_fs_18"
                            formControlName="new_password">
                        <i class="fa-regular ct_hide_pass_wye"
                            [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility2()"></i>
                        <div class="err_msg"
                            *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">
                            <div *ngIf="form.controls['new_password'].errors?.['required']">New password is
                                required.
                            </div>
                            <div *ngIf="form.controls['new_password'].errors?.['minlength']">
                                New password must be at least 8 characters long.
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4 position-relative">
                        <label class="mb-2">Confirm Password <span class="ct_required_star">*</span></label>
                        <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}" placeholder="Confirm Password"
                            name="text" autocomplete="off" class="form-control ct_input ct_fs_18"
                            formControlName="confirm_password" maxlength="15">
                        <i class="fa-regular ct_hide_pass_wye"
                            [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility3()"></i>
                        <div *ngIf="form.controls['confirm_password'].touched" class="err_msg">
                            <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                Confirm password is required.</div>
                            <div *ngIf="form.errors?.['passwordMismatch']">
                                Passwords do not match.</div>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <button (click)="submitForm()" type="button" class="ct_blue_btn mx-auto">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div *ngIf="loading">
    <app-loader />
</div>