<div class="ct_dash_header">
    <div class="d-flex align-items-center gap-3">
        <div class="ct_toggle_bar">
            <i class="fa-solid fa-bars"></i>
        </div>
        <!-- <h4 class="ct_fs_28 ct_fw_700 mb-0 ">Dashboard</h4> -->
    </div>
    <div class="ct_profile_drop">
        <div class="ct_user_img">
            <img src="assets/img/user_img.jpg" alt="">
            <div class="ct_user_name_info">
                <h4 class="ct_fs_18 ct_fw_700 ct_text_black mb-0">Ruby Jhonson</h4>
                <p class="mb-0 ct_text_clr_757575">Admin</p>
            </div>

            <div class="dropdown ">
                <div class="ct_user_dropdown_icon" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_62_4074)">
                            <path
                                d="M9.9974 18.3337C14.5999 18.3337 18.3307 14.6028 18.3307 10.0003C18.3307 5.39783 14.5999 1.66699 9.9974 1.66699C5.3949 1.66699 1.66406 5.39783 1.66406 10.0003C1.66406 14.6028 5.3949 18.3337 9.9974 18.3337Z"
                                stroke="#757575" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M7.05469 8.9502L9.99635 11.8835L12.938 8.9502" stroke="#757575" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_62_4074">
                                <rect width="20" height="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" routerLink="/home/my-profile">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="change-password.html">Change Password</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                            data-bs-target="#ct_logout_modal">LogOut</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>

<!-- logout Modal S -->
<div class="modal fade " id="ct_logout_modal" tabindex="-1" aria-labelledby="ct_logout_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <svg width="40" height="40" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.0117 0C4.51172 0 0.0117188 4.5 0.0117188 10C0.0117188 15.5 4.51172 20 10.0117 20C15.5117 20 20.0117 15.5 20.0117 10C20.0117 4.5 15.5117 0 10.0117 0ZM10.0117 15.9C6.81172 15.9 4.11172 13.3 4.11172 10C4.11172 8.3 4.91172 6.6 6.21172 5.5C6.61172 5.2 7.31172 5.2 7.61172 5.6C8.01172 6.1 7.91172 6.7 7.51172 7.1C6.61172 7.8 6.11172 8.9 6.11172 10.1C6.11172 12.2 7.81172 14 10.0117 14C12.2117 14 13.9117 12.3 13.9117 10.1C13.9117 9 13.4117 7.9 12.5117 7.1C12.1117 6.8 12.0117 6.1 12.4117 5.7C12.8117 5.3 13.4117 5.2 13.8117 5.6C15.1117 6.7 15.9117 8.4 15.9117 10.1C15.9117 13.3 13.2117 15.9 10.0117 15.9ZM10.0117 3.5C10.5117 3.5 11.0117 3.9 11.0117 4.5V8.2C11.0117 8.7 10.5117 9.2 10.0117 9.2C9.51172 9.2 9.01172 8.7 9.01172 8.2V4.5C9.01172 3.9 9.51172 3.5 10.0117 3.5Z"
                                fill="#DC0202"></path>
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Log Out Account</h4>
                    <p class="mb-0 text-center ct_fs_18"> Are you sure, you want to logout? once you logout <br> you
                        need to login again.</p>


                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-3 px-5" data-bs-dismiss="modal">Cancel</button>

                <a (click)="logout()" type="button" class="ct_blue_btn py-3  px-5">Yes Logout!</a>
                <button hidden type="button" class="btn btn-secondary" #closeModal
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- logout Modal E -->