.ct_sidebar {
  padding: 50px 22px;
  background-color: #fff;
  border-right: 2px solid #dcdddf;
  transition: 0.4s ease all;
  position: fixed;
  top: 0px;
  z-index: 999;
  left: 0px;
  height: 100vh;
  overflow-y: auto;
  max-width: 320px;
  width: 100%;
}
p {
  word-break: break-word;
}
.ct_dash_logo {
  text-align: center;
}
.ct_dash_logo img {
  max-width: 300px;
  width: 100%;
  object-fit: contain;
}
.ct_dash_nav {
  margin-top: 40px;
  margin-bottom: 60px;
}
.ct_dash_nav li {
  transition: 0.4s ease all;
  transition: 0.4s ease all;
  position: relative;
  padding: 20px 16px;
  border-radius: 10px;
}
.ct_dash_nav li + li {
  margin-top: 16px;
}
.ct_dash_nav li a {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
}
.ct_dash_nav li:hover,
.ct_dash_nav li.active {
  background-color: var(--blue);
}
.ct_dash_nav li:hover a,
.ct_dash_nav li.active a {
  color: #fff;
}
.ct_dash_nav li:first-child:hover a svg path,
.ct_dash_nav li.active:first-child a svg path {
  fill: #fff;
  stroke: none;
}
.ct_dash_nav li:hover a svg path,
.ct_dash_nav li.active a svg path {
  stroke: #fff;
  fill: #fff;
}

.ct_user_img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.ct_user_img {
  display: grid;
  grid-template-columns: 50px auto auto;
  gap: 10px;
  align-items: center;
}
.ct_right_dash_content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 50px 30px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.ct_dash_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}
.ct_user_dropdown_icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.ct_user_dropdown_icon ~ ul.dropdown-menu.show {
  border: 0px;
  background-color: #fff;
  max-width: 250px;
  width: 250px;
  padding: 0px;
  overflow: hidden;
}
.ct_user_dropdown_icon ~ ul.dropdown-menu.show li a {
  padding: 12px;
  font-size: 18px;
}
.ct_user_dropdown_icon ~ ul.dropdown-menu.show li a:hover {
  background-color: var(--blue);
  color: #fff;
}
.ct_toggle_bar {
  display: none;
}

.ct_card_icon {
  width: 66px;
  height: 66px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.ct_light_blue_card {
  background-color: #e8f5fe;
  padding: 21px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 66px auto auto;
  gap: 15px;
  height: 100%;
  align-items: center;
}
.ct_white_bg_card {
  background-color: #fff;
  box-shadow: 0px 4.25px 4.25px 0px #00000003;
  border: 1.06px solid #edeeef;
  padding: 21px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 66px auto auto;
  gap: 15px;
  height: 100%;
  align-items: center;
}
.ct_small_graph_img img {
  width: 75px;
  height: 62px;
  object-fit: contain;
}
.ct_small_graph_img {
  text-align: end;
}
.ct_grid_2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.ct_bus_grey_table {
  padding: 20px 0px 0px;
  border: 1px solid #dcdddf;
  border-radius: 15px;
  background-color: #fff;
}
.ct_px_20 {
  padding-inline: 20px;
}
.ct_pb_20 {
  padding-bottom: 20px;
}

/* From Uiverse.io by lenin55 */
.cl-checkbox {
  position: relative;
  display: inline-block;
}

/* Input */
.cl-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: #dcdddf;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 43%;
  left: 41%;
  width: 15px;
  height: 8px;
  border: solid 3px transparent;
  border-right: none;
  border-top: none;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate {
  background-color: var(--blue);
}

.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before {
  border-color: var(--blue);
  background-color: var(--blue);
}

.cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover > input {
  opacity: 0.04;
}

.cl-checkbox > input:focus {
  opacity: 0.12;
}

.cl-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.cl-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before {
  border-color: #85b8b7;
}

.cl-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox > input:disabled {
  opacity: 0;
}

.cl-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.cl-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.cl-checkbox > input:checked:disabled + span::before,
.cl-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

.ct_bus_grey_table thead tr th {
  padding: 16px 32px;
  background-color: #f7f7f7;
  vertical-align: middle;
  font-size: 18px;
  color: #757575;
  font-weight: 500;
  border: 0px;
  white-space: nowrap;
}

.ct_bus_grey_table tbody tr td {
  padding: 16px 32px;
  vertical-align: middle;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  font-weight: 500;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  white-space: nowrap;
}

.ct_bus_grey_table table.table {
  /* border: 1px solid #dcdcdc; */
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0px;
  overflow: hidden;
  border-left-width: 0px;
  border-right-width: 0px;
  /* background: #f7f7f7; */
}

.ct_action_btn {
  background-color: transparent;
  outline: none;
  border: 0px;
}
.ct_actions_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ct_bus_grey_table tbody tr td:first-child {
  border-top-left-radius: 15px;
}
.ct_bus_grey_table tbody tr td:last-child {
  border-top-right-radius: 15px;
}
.btn-close:focus {
  box-shadow: none;
}
.ct_delete_icon {
  width: 80px;
  height: 80px;
  margin-inline: auto;
  background-color: #ff00001f;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ct_ride_sidebar {
  padding: 12px 0px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}
.ct_buses_img_icon img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.ct_ride_sidebar .ct_scheduled_bus_list_item {
  border-radius: 6px;
  display: grid;
  grid-template-columns: 70px auto auto;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 6px;
  transition: 0.4s ease all;
}
.ct_light_blue_badge {
  background-color: #e8f5fe;
}
.ct_ride_sidebar li {
  border-bottom: 1px solid #dcdcdc;
  padding-block: 8px;
  padding-inline: 12px;
}
.ct_px_12 {
  padding-inline: 12px;
}
.ct_ride_sidebar ul {
  height: auto;
  overflow-y: auto;
  min-height: 100vh;
}
.ct_ride_sidebar ul li:last-child {
  border-bottom: 0px;
}
.ct_scheduled_bus_list_item.active,
.ct_scheduled_bus_list_item:hover {
  background-color: #e8f5fe;
}

.ct_scheduled_bus_list_item.active .ct_light_blue_badge,
.ct_scheduled_bus_list_item:hover .ct_light_blue_badge {
  background-color: #fff;
}
.ct_border_radius_100 {
  border-radius: 100px;
}
.ct_grid_3 {
  display: grid;
  grid-template-columns: auto 40px auto;
  align-items: center;
}

.ct_filter_btn_groups {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 10px;
}

.ct_outline_btn_blue {
  background-color: transparent !important;
  color: #000 !important;
  border-color: var(--blue);
}
.ct_outline_btn_blue:before {
  background-color: var(--blue) !important;
}
.ct_outline_btn_blue:hover {
  color: #fff;
}

.ct_border_btm1 {
  border-bottom: 1px solid #e5e7eb;
}

.ct_input_left_icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #9ca3af;
}
.ct_text_indent_30 {
  text-indent: 30px;
}
.ct_by_date_select,
.ct_by_date_select:focus {
  background-color: #43abff;
  color: #fff;
  border-color: #43abff;
}

.ct_modal_height_500 {
  height: auto;
  max-height: 500px;
  overflow-y: auto;
}

.ct_custom_scroll_bar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_custom_scroll_bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_custom_scroll_bar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_custom_scroll_bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ct_grid_3_route {
  display: grid;
  grid-template-columns: 48% 48% auto;
  align-items: center;
  gap: 5px;
}
.ct_edit_img {
  position: relative;
  text-align: center;
  width: 168px;
  height: 168px;
  margin-inline: auto;
}
.ct_edit_img img {
  width: 168px;
  height: 168px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_edit_img_icon_bg {
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.ct_white_table {
  border-width: 0px;
  height: 100%;
}
.ct_white_table thead tr th {
  background-color: transparent;

  font-size: 16px;
}
.ct_white_table tbody tr td {
  border-radius: 0px !important;
  font-size: 16px;
}

.ct_today_overview_grey {
  padding: 52px 15px;
  background-color: #f9fafb;
  border-radius: 10px;
  text-align: center;
}
.ct_p_40 {
  padding: 40px;
}
.ct_pb_40 {
  padding-bottom: 40px;
}

.ct_sidebar_bottom_card {
  background-color: #dfe8f8;
  padding: 0px 29px 42px;
  text-align: center;
  border-radius: 20px;
}
.ct_sidebar_bottom_card img {
  width: 100%;
  max-width: 200px;
  position: relative;
  margin-top: -50px;
}
.ct_black_btn {
  background-color: #000;
  border-color: #000;
}
.ct_black_btn:hover {
  border-color: #000;
}
