.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 158px;
  height: 25px;
  overflow: hidden;
}

/* Hide default HTML checkbox */
.ct_custom_switch1.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.ct_custom_switch1 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 30px;
}

.ct_custom_switch1 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  border: 1px solid #fff;
  left: 4px;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
}

.ct_custom_switch1 input:checked + .slider {
  background-color: #3b82f6;
}

.ct_custom_switch1 input:checked + .slider:before {
  transform: translateX(131px);
}

.ct_custom_switch1.switch .text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: 0.4s;
  font-size: 14px;
  color: #fff;
  margin-top: 2px;
}

.ct_custom_switch1.switch .text.on {
  left: 0.8rem;
  transform: translateX(-131px) translateY(-50%);
}

.ct_custom_switch1.switch .text.off {
  color: #999;
  right: 0.8rem;
}

.ct_custom_switch1 input:checked ~ .text.off {
  transform: translateX(131px) translateY(-50%);
}

.ct_custom_switch1 input:checked ~ .text.on {
  transform: translateX(0) translateY(-50%);
}

.actions {
  text-align: right;
}

.actions button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #f0f0f0;
}

.ct_cancle_btn_3 {
  background-color: #e6e6e6;
  color: #000;
}
.ct_col_dlt_icon {
  background-color: #ff000024;
  width: 30px;
  height: 30px;
  display: flex
;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  top: 2px;
}

