<div class="ct_right_dash_content">
    <div class="update-line-container">
        <h2>{{route_id == undefined ? 'Add Line' : 'Update Line'}}</h2>
        <!-- <p class="breadcrumb">Home > Bus Schedule > Stops & Lines > {{route_id == undefined ? 'Add Line' : 'Update
            Line'}}</p> -->

        <div class="alert">
            ⚠️ There are bookings for this route, and changes are not possible.
        </div>

        <form>
            <div class="d-flex justify-content-between gap-3">

                <!-- Details Section -->
                <div class="details-section w-50">
                    <h3>Details</h3>
                    <label *ngIf="route_id" class="switch">
                        <input type="checkbox" [(ngModel)]="status" [ngModelOptions]="{standalone: true}" />
                        <span class="slider">
                            <span class="slider-text-left">INACTIVE</span>
                            <span class="slider-text-right">ACTIVE</span>
                        </span>
                    </label>
                    <!-- <span class="status-label">{{ status ? 'ACTIVE' : 'INACTIVE' }}</span> -->

                    <div class="mt-3">
                        <label for="title">Title</label>
                        <input id="title" type="text" class="form-control ct_input ct_fs_18" [(ngModel)]="title"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Title" />
                    </div>
                    <div class="mt-3">
                        <label for="description">Description</label>
                        <textarea id="description" rows="5" [(ngModel)]="description"
                            [ngModelOptions]="{standalone: true}" class="form-control ct_fs_18"
                            placeholder="Enter Description"></textarea>
                    </div>
                </div>

                <div cdkDropList class="bus-stops-section w-50" (cdkDropListDropped)="drop($event)">
                    <h3>Bus Stops</h3>
                    <div *ngFor="let stop of busStops; let i = index" cdkDrag cdkDragBoundary=".bus-stops-section"
                        class="form-group mb-4 position-relative overflow-hidden">
                        <label for="location-{{ i }}">Location {{ i + 1 }}:</label>
                        <select id="location-{{ i }}" class="location-select form-control ct_input ps-4 width_60"
                            [ngModel]="stop.city_id" (ngModelChange)="onLocationChange($event, i)"
                            [ngModelOptions]="{standalone: true}" [disabled]="!stop.isNew && route_id">
                            <option value=null disabled selected>-- Select --</option>
                            <option *ngFor="let location of allCities" [value]="location.city_id">
                                {{ location.city_name }}
                            </option>
                        </select>
                        <!-- Only show buttons for new stops -->

                        <div class="action-buttons">

                            <button class="btn btn-secondary" [class.d-none]="!stop.isNew">
                                <i cdkDragHandle class="fa fa-arrows"></i>
                            </button>

                            <button type="button" class="btn btn-danger" [class.d-none]="!stop.isNew"
                                (click)="deleteBusStop(i)" aria-label="Delete Stop">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Add Bus Stop Button -->
                    <button type="button" (click)="addBusStop()" class="btn-add">
                        + Add Bus Stop
                    </button>
                </div>
            </div>
        </form>

        <!-- Departure Times Section -->
        <!-- <div class="departure-times-section mt-5 w-50">
            <h3>Departure Times</h3>
            <div>
                <label>Departure times</label>
                <input type="time" [(ngModel)]="newDepartureTime" [ngModelOptions]="{standalone: true}" />
                <button type="button" (click)="addDepartureTime()">+ Add New</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Departure times</th>
                        <th>Availability</th>
                        <th>Weekdays</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of departureTimes">
                        <td>{{ time }}</td>
                        <td>Non-stop</td>
                        <td>All</td>
                        <td>
                            <button (click)="editTime(time)">✏️</button>
                            <button (click)="deleteTime(time)">🗑️</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->

        <div class="actions mt-3">
            <button (click)="saveBusStops()" class="btn-add" type="submit">{{route_id == undefined ? 'Save' :
                'Update'}}</button>
            <button (click)="cancel()" type="button">Cancel</button>
        </div>

    </div>
</div>