<div class="update-line-container">
    <div class="mb-4">
        <a routerLink="/home/routes-management" class="ct_back_btn" style="width: fit-content;"><i
                class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
    </div>

    <div>
        <h2 class="ct_fs_24 ct_fw_600 mb-1">{{route_id == undefined ? 'Add Line' : 'Update Line'}}</h2>
        <p class="mb-0">Use the form below to update the selected line. </p>
    </div>


    <!-- <p class="breadcrumb">Home > Bus Schedule > Stops & Lines > {{route_id == undefined ? 'Add Line' : 'Update
            Line'}}</p> -->

    <div class="alert mt-4">
        ⚠️ There are bookings for this route, and changes are not possible.
    </div>

    <form>
        <div class="row">

            <!-- Details Section -->
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="details-section">

                    <div>
                        <h3 class="ct_fs_20 ct_fw_500 mb-1">Details</h3>
                        <p class="mb-0">Enter line name and description which will be visible to your clients.</p>
                    </div>
                    <div class="ct_white_box_shadow h-auto mt-4">
                        <label for="" class="d-block mb-1 ct_fw_500">Status</label>
                        <label *ngIf="route_id" class="switch ct_custom_switch1">
                            <input type="checkbox" [(ngModel)]="status" [ngModelOptions]="{standalone: true}" />
                            <span class="slider"></span>
                            <span class="text on">Active</span>
                            <span class="text off">Inactive</span>
                        </label>
                        <!-- <span class="status-label">{{ status ? 'ACTIVE' : 'INACTIVE' }}</span> -->

                        <div class="mt-3">
                            <label for="title" class="mb-1 ct_fw_500">Title</label>
                            <input id="title" type="text" class="form-control ct_input ct_fs_18" [(ngModel)]="title"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter Title" />
                        </div>
                        <div class="mt-3">
                            <label for="description" class="mb-1 ct_fw_500">Description</label>
                            <textarea id="description" rows="5" [(ngModel)]="description"
                                [ngModelOptions]="{standalone: true}" class="form-control ct_fs_18"
                                placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">

                <div cdkDropList class="bus-stops-section" (cdkDropListDropped)="drop($event)">
                    <div>
                        <h3 class="ct_fs_20 ct_fw_500 mb-1">Bus Stops</h3>
                        <p class="mb-0">Add bus stops that this line goes to. Manage bus stops here</p>
                    </div>

                    <div class="ct_white_box_shadow h-auto mt-4">
                        <div *ngFor="let stop of busStops; let i = index" cdkDrag cdkDragBoundary=".bus-stops-section"
                            class="form-group mb-4 position-relative overflow-hidden">
                            <label for="location-{{ i }}">Location {{ i + 1 }}:</label>
                            <select id="location-{{ i }}" class="location-select form-control ct_input ps-4 width_60"
                                [ngModel]="stop.city_id" (ngModelChange)="onLocationChange($event, i)"
                                [ngModelOptions]="{standalone: true}" [disabled]="!stop.isNew && route_id">
                                <option value=null disabled selected>-- Select --</option>
                                <option *ngFor="let location of allCities" [value]="location.city_id">
                                    {{ location.city_name }}
                                </option>
                            </select>
                            <!-- Only show buttons for new stops -->

                            <div class="action-buttons">

                                <button class="btn btn-secondary" [class.d-none]="!stop.isNew">
                                    <i cdkDragHandle class="fa fa-arrows"></i>
                                </button>

                                <button type="button" class="btn btn-danger" [class.d-none]="!stop.isNew"
                                    (click)="deleteBusStop(i)" aria-label="Delete Stop">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <!-- Add Bus Stop Button -->
                        <button type="button" (click)="addBusStop()" class="ct_blue_btn">
                            + Add Bus Stop
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Departure Times Section -->
    <!-- <div class="departure-times-section mt-5 w-50">
            <h3>Departure Times</h3>
            <div>
                <label>Departure times</label>
                <input type="time" [(ngModel)]="newDepartureTime" [ngModelOptions]="{standalone: true}" />
                <button type="button" (click)="addDepartureTime()">+ Add New</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Departure times</th>
                        <th>Availability</th>
                        <th>Weekdays</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of departureTimes">
                        <td>{{ time }}</td>
                        <td>Non-stop</td>
                        <td>All</td>
                        <td>
                            <button (click)="editTime(time)">✏️</button>
                            <button (click)="deleteTime(time)">🗑️</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->

    <div class="actions mt-3 ms-auto d-flex align-items-center justify-content-end">
        @if(route_id){
        <button data-bs-toggle="modal" data-bs-target="#ct_confirmation_modal" class="ct_blue_btn"
            type="submit">Update</button>
        } @else {
        <button (click)="saveBusStops()" class="ct_blue_btn" type="submit">Save</button>
        }

        <button (click)="cancel()" type="button" class="ct_blue_btn ct_cancle_btn_3">Cancel</button>
    </div>

</div>


<div *ngIf="loading">
    <app-loader />
</div>

<!-- confirmation Modal S -->
<div class="modal fade" id="ct_confirmation_modal" tabindex="-1" aria-labelledby="ct_confirmation_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <!-- <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                stroke="#EF331E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> -->
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Are you sure?</h4>
                    <p class="mb-0 text-center ct_fs_18">If any new stop is added in the route then you have to set
                        Departure Time again.</p>


                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-3 px-5" data-bs-dismiss="modal">Cancel</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal44
                    data-bs-dismiss="modal">Close</button>
                <button (click)="saveBusStops()" type="button" class="ct_blue_btn py-3  px-5">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- confirmation Modal E -->