.container {
  padding: 0px;
  font-family: Arial, sans-serif;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header p {
  color: gray;
  margin: 5px 0 15px;
}

.breadcrumbs {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.lines-section,
.bus-stops-section {
  flex: 1;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-header h2 {
  font-size: 18px;
  margin: 0;
}

.section-header p {
  font-size: 14px;
  color: gray;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.lines-list {
  margin-top: 10px;
}

.line-item {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.map-image {
  max-width: 100%;
  border-radius: 8px;
}

.ct_text_overflow_route {
  white-space: nowrap;
  width: auto;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

button#editBtn {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: #fff;
  padding: 3px 9px;
  border-radius: 3px;
}

.p-15 {
  padding: 8px 15px;
}


.ct_blue_btn1 {
  background-color: var(--blue);
  outline: none;
  padding: 8px 26px;
  border-radius: 8px;
  border: 1px solid var(--blue);
  transition: 0.4s ease all;
  position: relative;
  z-index: 1;
  font-size: 18px;
  display: block;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
}

.ct_blue_btn1:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #da3434;
  width: 0%;
  height: 100%;
  transition: 0.4s ease all;
  z-index: -1;
}

/* .ct_outline_btn_blue:hover{
  color: #fff;
} */
.ct_blue_btn1:hover:before {
  width: 100%;
}

.ct_blue_btn1:hover {
  color: #f7f7f7 !important;
}