<div class="ct_white_box_shadow">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="header mb-4">
                        <h1>Stops and Lines</h1>
                        <p>Manage all stops and lines that your company operates.</p>
                        <!-- <p class="breadcrumb">Home / Bus Schedule / Stops and Lines</p> -->
                    </div>

                    <div class="header mb-4" (click)="toggleArchive()">
                        <button class="ct_white_nowrap p-15" [ngClass]="showArchived ? 'ct_blue_btn' : 'ct_blue_btn1'">{{ showArchived ? 'Active Lines' : 'Archived Lines'}}
                            <i class="fa-solid" [ngClass]="showArchived ? '' : 'fa-trash'"></i>
                        </button>
                    </div>
                </div>

                <div class=" row">
                    <!-- Lines Section -->
                    <div class="col-xl-6 mb-4 mb-xl-0 ">
                        <div class="lines-section">
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-1 gap-3">
                                    <div>
                                        <h4 class="ct_fs_20 ct_fw_700 mb-0">{{ showArchived ? 'Archived Lines' : 'Lines'
                                            }}</h4>
                                    </div>

                                    <!-- <button class="ct_blue_btn ct_white_nowrap p-15" (click)="toggleArchive()">
                                        <i class="fa-solid fa-box-archive"></i>
                                        {{ showArchived ? 'Show Active Lines' : 'Show Archived Lines' }}
                                    </button> -->


                                    <button *ngIf="!showArchived"
                                        class="ct_blue_btn ct_white_nowrap d-flex align-items-center justify-content-center"
                                        routerLink="/home/new-route">+ Add New
                                        Line</button>
                                </div>
                                <p class="mb-0" *ngIf="!showArchived">View and manage lines. Click on a line to view and edit details,
                                    manage departure
                                    times.
                                </p>
                            </div>

                            <div class="accordion ct_custom_accordian1 mt-4" id="linesAccordion">
                                <div class="accordion-item" *ngFor="let line of lines">
                                    <h2 class="accordion-header" id="heading{{ line.route_id }}"
                                        (click)="addRouteById(line.route_id)">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapse' + line.route_id" aria-expanded="false"
                                            [attr.aria-controls]="'collapse' + line.route_id"
                                            (click)="getLatLog(line.route_stops)">
                                            <strong class="ct_text_overflow_route">{{ line.title }},
                                            </strong>&nbsp;<span class="ct_text_op_05 ct_fw_600"> {{
                                                line.route_stops?.length }}
                                                stops</span>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ line.route_id }}" class="accordion-collapse collapse"
                                        [attr.aria-labelledby]="'heading'+ line.route_id "
                                        data-bs-parent="#linesAccordion">
                                        <div class="accordion-body">
                                            <div class=" d-flex  justify-content-between gap-3">
                                                <!-- Content inside the collapse -->
                                                <div>

                                                    <p *ngFor="let stop of line.route_stops.slice(0,1)"
                                                        class="d-flex align-items-center gap-1 ct_fs_16 mb-0 ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                            viewBox="0 0 24 24">
                                                            <g fill="currentColor">
                                                                <path
                                                                    d="m14.829 11.948l1.414-1.414L12 6.29l-4.243 4.243l1.415 1.414L11 10.12v7.537h2V10.12z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M19.778 4.222c-4.296-4.296-11.26-4.296-15.556 0s-4.296 11.26 0 15.556s11.26 4.296 15.556 0s4.296-11.26 0-15.556m-1.414 1.414A9 9 0 1 0 5.636 18.364A9 9 0 0 0 18.364 5.636"
                                                                    clip-rule="evenodd" />
                                                            </g>
                                                        </svg>
                                                        <strong>From:</strong>{{
                                                        stop.stop_city.city_name }}
                                                    </p>


                                                    <ul class="p-0 mt-2">
                                                        <li *ngFor="let stop of line.route_stops.slice(1, line.route_stops?.length-1)"
                                                            class="d-flex align-items-center gap-1 mt-2 ct_text_op_05 ">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                height="20" viewBox="0 0 24 24">
                                                                <path fill="currentColor"
                                                                    d="M19 9A7 7 0 1 0 5 9c0 1.387.409 2.677 1.105 3.765h-.008L12 22l5.903-9.235h-.007A6.97 6.97 0 0 0 19 9m-7 3a3 3 0 1 1 0-6a3 3 0 0 1 0 6" />
                                                            </svg> {{ stop.stop_city.city_name }}
                                                        </li>
                                                    </ul>
                                                    <p *ngFor="let stop of line.route_stops.slice(line.route_stops?.length-1, line.route_stops?.length)"
                                                        class="d-flex align-items-center gap-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                            viewBox="0 0 24 24">
                                                            <g fill="currentColor">
                                                                <path
                                                                    d="m14.829 12.026l1.414 1.414L12 17.683L7.757 13.44l1.415-1.414L11 13.854V6.317h2v7.537z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M19.778 19.778c-4.296 4.296-11.26 4.296-15.556 0s-4.296-11.26 0-15.556s11.26-4.296 15.556 0s4.296 11.26 0 15.556m-1.414-1.414A9 9 0 1 1 5.636 5.636a9 9 0 0 1 12.728 12.728"
                                                                    clip-rule="evenodd" />
                                                            </g>
                                                        </svg>
                                                        <strong class="ct_fs_16">To:</strong> {{
                                                        stop.stop_city.city_name }}
                                                    </p>
                                                </div>
                                                <div>
                                                    @if(line.route_stops[0]?.departure_time){
                                                    <p [ngStyle]="showArchived ? {} : {'cursor': 'pointer'}"
                                                        (click)="goToEditSchedule(line.route_id)">
                                                        <strong>Departure time:</strong> {{
                                                        line.route_stops[0]?.departure_time
                                                        }}
                                                    </p>
                                                    } @else {
                                                    <p>
                                                        No departure time found
                                                    </p>
                                                    }

                                                    <p *ngIf="!showArchived" style="cursor: pointer;"
                                                        class="ct_blue_text mb-0 ct_border_top_1 pt-2"
                                                        routerLink="/home/bus-schedule"
                                                        [queryParams]="{'route_id':line.route_id}">
                                                        <strong>+ Add Departure Time</strong>
                                                    </p>

                                                </div>
                                            </div>

                                            <div
                                                class="d-flex justify-content-between align-items-center w-100 gap-3  ct_border_top_1 pt-3">
                                                <button routerLink="/home/new-route" *ngIf="!showArchived"
                                                    [queryParams]="{'route_id':line.route_id}"
                                                    class="ct_blue_btn px-4 py-2 h-auto ct_fs_16 ct_fw_500 ct_white_nowrap w-auto p-2">Edit
                                                    Line</button>
                                                <div class="dropdown d-inline">
                                                    <button
                                                        class="ct_blue_btn ct_outline_btn_blue py-2 h-auto ct_fs_16 ct_fw_500 ct_white_nowrap w-auto d-flex align-items-center gap-1 p-2"
                                                        type="button" id="actionMenu" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z" />
                                                        </svg>
                                                        Action
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="m12 16l-6-6h12z" />
                                                        </svg>
                                                    </button>
                                                    <ul class="dropdown-menu ct_dropdwon_custom_12"
                                                        aria-labelledby="actionMenu">
                                                        <!-- <li style="cursor: pointer;"><a class="dropdown-item">Delete Line</a>
                                                            </li> -->
                                                        <li *ngIf="!showArchived" data-bs-toggle="modal"
                                                            data-bs-target="#ct_copy_route">
                                                            <a class="dropdown-item">Create
                                                                Reverse
                                                                Line</a>
                                                        </li>
                                                        <li *ngIf="!showArchived" data-bs-toggle="modal"
                                                            data-bs-target="#ct_confirmation_modal"
                                                            (click)="getCopyRouteId(line.route_id)"><a
                                                                class="dropdown-item">Copy
                                                                Line</a>
                                                        </li>
                                                        @if(showArchived){
                                                        <li><a (click)="removeToArchives(line.route_id)"
                                                                class="dropdown-item">Remove from Archive</a>
                                                        </li>
                                                        } @else {
                                                        <li data-bs-toggle="modal" data-bs-target="#ct_archive_route"><a
                                                                (click)="getArchiveRouteId(line.route_id)"
                                                                class="dropdown-item">Add to Archive</a>
                                                        </li>
                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="lines?.length == 0 || !lines" class="text-center">
                                    <p class="ct_fs_15 mt-3">No lines found</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bus Stops Section -->
                    <div class="col-xl-6 mb-4 mb-xl-0 ">
                        <div class="bus-stops-section">
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-1 gap-3">
                                    <div>
                                        <h3 class="ct_fs_20 ct_fw_700 mb-1">Bus stops</h3>

                                    </div>
                                    <button
                                        class="ct_blue_btn ct_white_nowrap d-flex align-items-center justify-content-center"
                                        data-bs-toggle="modal" data-bs-target="#ct_add_route">+
                                        Add
                                        Bus
                                        Stop</button>
                                </div>
                                <p class="mb-0">Manage all bus stops that your lines go to. Click on a pin on the
                                    map to edit or
                                    delete
                                    an
                                    existing
                                    stop.</p>

                            </div>

                            <div class="image-container mt-4">
                                <div id="map" style="width: 100%; height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- All Modal Section S -->

<!-- Add Modal S -->
<div class="modal fade" id="ct_add_route" tabindex="-1" aria-labelledby="ct_add_routeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content pb-4">
            <!-- <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
            <div class="modal-body border-0 pt-5">
                <div class="ct_edit_modal_cnt">
                    <h4 class="ct_fs_24 ct_fw_600 pb-3 mb-4 ct_border_btm1">Add Stop</h4>
                    <form action="" class="pt-2">

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Stop<span
                                    class="ct_text_red">*</span></label>
                            <div class="form-group position-relative">
                                <input type="text" class="form-control ct_input ct_fs_18" placeholder="Enter stop name"
                                    [(ngModel)]="stopName" [ngModelOptions]="{standalone: true}"
                                    (blur)="onBlur('stopName')">
                                <p *ngIf="!stopName && isTouched.stopName" class="err_msg">
                                    This field cannot be empty
                                </p>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Address<span
                                    class="ct_text_red">*</span></label>
                            <div class="form-group position-relative">
                                <input type="text" class="form-control ct_input ct_fs_18" placeholder="Enter address"
                                    [(ngModel)]="terminalName" [ngModelOptions]="{standalone: true}"
                                    (keyup)="searchTerminal()" (blur)="onBlur('terminalName')">

                                <p *ngIf="!terminalName && isTouched.terminalName" class="err_msg">
                                    This field cannot be empty
                                </p>
                            </div>

                            @if(isSearchActiveFrom){
                            <div class="ct_suggstion_search">
                                <ul class="ps-0 mb-0">
                                    @if(allTerminalsList?.length > 0){
                                    @for (item of allTerminalsList; track $index) {
                                    <li (click)="searchByFromCity(item)" style="cursor: pointer;">
                                        <h6 class="mb-1 mt-1 ct_fw_600">{{item.description}}</h6>
                                    </li>
                                    }
                                    } @else {
                                    <li> <img src="assets/img/Search_icon.svg" alt="">Not found
                                    </li>
                                    }
                                </ul>
                            </div>
                            }

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-end">
                <button type="button" class="ct_blue_btn ct_outline_btn_blue ct_fw_400"
                    data-bs-dismiss="modal">Cancel</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="addTerminal()" class="ct_blue_btn py-2 ct_fw_400">Add Stop</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal  E -->


<!-- confirmation Modal S -->
<div class="modal fade" id="ct_confirmation_modal" tabindex="-1" aria-labelledby="ct_confirmation_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <!-- <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                stroke="#EF331E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> -->
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Confirm Copy</h4>
                    <p class="mb-0 text-center ct_fs_18"> Are you sure? you want to make copy of this line.</p>


                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-3 px-5" data-bs-dismiss="modal">Cancel</button>

                <button (click)="copyRoute()" type="button" class="ct_blue_btn py-3  px-5">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- confirmation Modal E -->


<!-- reverse title Modal S -->
<div class="modal fade" id="ct_copy_route" tabindex="-1" aria-labelledby="ct_copy_routeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content pb-4">
            <!-- <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
            <div class="modal-body border-0 pt-5">
                <div class="ct_edit_modal_cnt">
                    <h4 class="ct_fs_24 ct_fw_600 pb-3 mb-4 ct_border_btm1">Add Stop</h4>
                    <form action="" class="pt-2">

                        <div class="form-group mb-4">
                            <label for="" class="ct_fs_18 ct_fw_500 mb-2">Bus Stop<span
                                    class="ct_text_red">*</span></label>
                            <div class="form-group position-relative">
                                <input type="text" class="form-control ct_input ct_fs_18" placeholder="Enter stop name"
                                    [(ngModel)]="copyTitle" [ngModelOptions]="{standalone: true}"
                                    (blur)="onBlur('copyTitle')">
                                <p *ngIf="!copyTitle && isTouched.copyTitle" class="err_msg">
                                    This field cannot be empty
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-end">
                <button type="button" class="ct_blue_btn ct_outline_btn_blue ct_fw_400"
                    data-bs-dismiss="modal">Cancel</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal12
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="reverseRoute()" class="ct_blue_btn py-2 ct_fw_400">Add Stop</button>
            </div>
        </div>
    </div>
</div>
<!-- reverse title Modal  E -->




<!-- reverse title Modal S -->
<div class="modal fade" id="ct_archive_route" tabindex="-1" aria-labelledby="ct_archive_routeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_delete_modal_cnt">
                    <div class="text-center mb-4 ct_delete_icon">
                        <!-- <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0447 9.86869L14.6987 18.8687M9.91069 18.8687L9.56469 9.86869M19.5327 6.65869C19.8747 6.71069 20.2147 6.76569 20.5547 6.82469M19.5327 6.65869L18.4647 20.5417C18.4211 21.1069 18.1658 21.6349 17.7497 22.0199C17.3337 22.405 16.7876 22.6189 16.2207 22.6187H8.38869C7.82178 22.6189 7.27571 22.405 6.85967 22.0199C6.44362 21.6349 6.18828 21.1069 6.14469 20.5417L5.07669 6.65869M19.5327 6.65869C18.3786 6.4842 17.2185 6.35178 16.0547 6.26169M5.07669 6.65869C4.73469 6.70969 4.39469 6.76469 4.05469 6.82369M5.07669 6.65869C6.23082 6.4842 7.39092 6.35178 8.55469 6.26169M16.0547 6.26169V5.34569C16.0547 4.16569 15.1447 3.18169 13.9647 3.14469C12.8583 3.10932 11.7511 3.10932 10.6447 3.14469C9.46469 3.18169 8.55469 4.16669 8.55469 5.34569V6.26169M16.0547 6.26169C13.5584 6.06876 11.051 6.06876 8.55469 6.26169"
                                stroke="#EF331E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> -->
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                        </svg>
                    </div>
                    <h4 class="ct_fs_28 mb-3 ct_fw_600 text-center text-center">Confirm Archive</h4>
                    <p class="mb-0 text-center ct_fs_18"> Are you sure? you want to add this line in archives.</p>


                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="ct_btn_red bg-danger py-3 px-5" data-bs-dismiss="modal">Cancel</button>
                <button hidden type="button" class="btn btn-secondary" #closeModalArchive
                    data-bs-dismiss="modal">Close</button>
                <button (click)="addToArchives()" type="button" class="ct_blue_btn py-3  px-5">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- reverse title Modal  E -->

<!-- All Modal Section E -->

<div *ngIf="loading">
    <app-loader />
</div>