.ct_pdf_logo {
  text-align: center;
  margin-bottom: 25px;
}
.ct_pdf_head {
  background-color: #3b82f6;
  padding: 30px 20px;
}
.ct_pdf_logo img {
  max-width: 220px;
  object-fit: contain;
  width: 100%;
}
.ct_bust_outline_box {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #3b82f6;
  padding: 10px;
  border-radius: 10px;
  margin-block: 20px;
  background-color: #3b82f621;
}

.ct_bust_outline_box i {
  color: #3b82f6;
  font-size: 20px;
}

.ct_bus_status_tag {
  color: #fff;
  background-color: #3b82f6;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
}
.ct_pdf_main_bg {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

.ct_pdf_body_section {
  padding: 20px;
}

.ct_location_title {
  position: relative;
}

.ct_location_title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -50px;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 2px solid #3b82f6;
}
.ct_left_location_line {
  position: relative;
}
.ct_left_location_line:before {
  content: "";
  position: absolute;
  top: 19px;
  background: #3b82f6;
  width: 2px;
  height: calc(100% - 69px);
  left: -43px;
}

.ct_grid_2 {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 15px;
}

.ct_bust_outline_red {
  border-color: #ff0000;
  background-color: transparent;
  padding-block: 15px;
}
.ct_bust_outline_red i {
  color: #ff0000;
}
.ct_information_list_1 {
  padding-left: 0px;
}
.ct_information_list_1 li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ct_information_list_1 li + li {
  margin-top: 6px;
}

.ct_grey_bg_123 {
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
}
